body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: #003366;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-tog{
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}
#menu {
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
}
#menu.open{
    display: flex;
}

#menu li{
    margin:10px 0;
}
#menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    max-width: 90%;
    margin: auto;
    padding: 1rem;
}

.temples-gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background: lightgray;
    padding: 10px;
    border: 1px solid darkgray;
    text-align: center;
}
.card h2{
    font-family: 'poppins' sans-serif;
    text-align: center;
}
.card ul {
    list-style: none;
}

.card img{
    width: 90%;
    border: 1px solid #ccc;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    animation: fade 15s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer{
    background-color: #003366;
    color: white;
    padding: 10px;
    margin-top: 20px;
}