@media screen and (min-width:769px) {

    main{
        max-width: 1200px;
        margin: 0 auto;
    }

    nav ul{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    nav ul li{
        display: inline;
    }
    nav ul li a{
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .temples-gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .temples-gallery figure{
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }
    .temples-gallery figure:hover{
        transform : scale(1.05);
    }
    #menu-tog{
        display: none;
        flex-direction: column;
    }
    #menu{
        display: flex ;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        background-color: transparent;
    }
}